html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.file-drop-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    transition: border 0.3s ease-in-out;
}

.file-input {
    display: none;
}

.file-drop-container:hover,
.drag-over {
    border-color: #4CAF50;
    background: #f7f4f4;
}